body {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: auto; /* 允许滚动 */
    display: block; /* 取消 flex 布局 */
    min-height: 100vh;
    min-width: 1100px;
}
.sidebar {
    width: 200px;
    background: rgba(0, 255, 255, 0.2);
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 20px 0;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #00ffaa;
}
.sidebar a .icon {
    /* width: 20px;  图标的宽度 */
    /* height: 20px; 图标的高度 */
    margin-right: 3px;  /* 图标和文字之间的间距 */
    vertical-align: middle;  /* 垂直居中对齐 */
}
.sidebar .profile {
    display: flex;  /* 使用 flexbox 布局 */
    align-items: center;  /* 垂直居中对齐头像和名字 */
    margin-bottom: 30px;  /* 给头像和名字留一些空间 */
}

.sidebar .profile .avatar {
    width: 60px;  /* 设置头像大小 */
    height: 60px;  /* 设置头像大小 */
    /* border-radius: 50%;  使头像变圆形 */
    margin-right: 10px;  /* 头像与名字之间的间距 */
}

.sidebar .profile .name {
    color: #fff;  /* 名字的颜色 */
    font-size: 1.5em;  /* 名字的字体大小 */
    margin: 0;  /* 取消默认的上下外边距 */
}

.container {
    margin-left: 220px;
    width: calc(100% - 220px);
    position: relative;
    z-index: 2;
    padding: 20px;
}
h1 {
    font-size: 3em;
    margin-top: 50px;
    text-shadow: 0 0 10px cyan;
}
.download-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 保证整个容器居中 */
}
.download-links div {
    display: flex;
    justify-content: flex-start; /* 每个链接左对齐 */
    width: 100%; /* 每个链接块占满宽度 */
    max-width: 600px; /* 可以设置最大宽度来限制链接宽度 */
    margin-bottom: 15px;
}
.download-links a {
    padding: 15px 30px;
    background: cyan;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}
.download-links a:hover {
    background: #00ffaa;
    box-shadow: 0 0 10px #00ffaa;
}
.social-links {
    margin-top: 40px;
}
.social-links a {
    margin: 0 10px;
    color: cyan;
    font-size: 1.5em;
    transition: 0.3s;
}
.social-links a:hover {
    color: #00ffaa;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,255,255,0.2) 10%, rgba(0,0,0,1) 80%);
}
#download {
    position: relative;
    padding: 20px;
}
#download:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 50px;
    width: 129px;  /* 设置宽度，便于调试 */
    height: 269px; /* 设置高度，便于调试 */
    background-image: url('../images/byzh.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}