#intro {
    position: relative;
    padding: 20px;
}
#intro:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 50px;
    width: 129px;  /* 设置宽度，便于调试 */
    height: 269px; /* 设置高度，便于调试 */
    background-image: url('../images/byzh.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}